@import './main.scss';
$background-purple: #D1C4E9;
$background-navy: #7986CB;
$background-cyan: #006064;

.Notes {
  margin-left: 25px;
  margin-bottom: 25px;
  width: 300px;
  height: 200px;
  position: relative;
  display: inline-block;

  &:hover {
    button {
      display: block;
    }
  }

  button {
    position: absolute;
    background-color: $background-blue;
    border: 0px;
    right: 0px;
    top: 5px;
    height: 25px;
    width: 25px;
    display: none;
    color: $background-gray;
  }
  textarea {
    font: {
      family: $roboto;
      size: 25px;
    }
    color: $background-gray;
    resize: none;
    border: 0;
    background-color: $background-cyan;
    right: 0px;
    overflow: hidden;
    text-align: left;
    vertical-align: top;
    height: 100%;
    width: 100%
  }
}
